.button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: $colorDark;

    &--add {
        background-color: $colorAdd;
        align-self: center;
        margin-bottom: 10px;
    }

    &--edit {
        background-color: $colorEdit;
    }

    &--delete {
        background-color: $colorDelete;
    }

    &--submit {
        align-self: center;
        margin-top: 10px;
        background-color: $colorSubmit;
        color: $colorLightGrey;
    }
}