$colorDark: #5a537a;
$colorLightGrey: #dddddd;
$colorAdd: #22FF7D;
$colorAddDark: #0dd760;
$colorEdit: #FFC422;
$colorEditDark:#f8b500;
$colorDelete: #FF2237;
$colorDeleteDark: #c00012;
$colorSubmit: #022c68;
$colorBlack: #000000;