.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;

    &__table {
        text-align: center;
    }
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid $colorLightGrey;
}

.loading {
    text-align: center;
}